.o_preview iframe {
    width: 100% !important;
    max-width: 300px !important;
    height: auto !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 auto !important;
    display: block;
}
