.o_dashboard {
    background-color: purple;
}

.awsm-dashboard-item {
    background-color: white;
    border: 2px black solid;
    padding: 1rem;
    margin: .5rem;
    display: inline-block;
    vertical-align: top;
}

.awsm-stat-number {
    text-align: center;
    font-size: 3rem;
    color: #e256c1;
}
