$color1: #FFF8E8;
$color2: #F7EED3;
$color3: #AAB396;
$color4: #674636;
$color: #fff;

.o_dashboard {
  background-color: $color1;
}

.o_dashboard_header {
  background-color: $color;
}

.o_dashboard_item {
  background-color: $color2;
}
