@media (max-width: 576px) {
    .o_awesome_dashboard_card {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important; 

        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

