#wrapwrap {
    // Slider’s arrows
    .s_carousel:not(.s_carousel.s_carousel_default),
    .s_dynamic_snippet_products {
        .carousel-control-next-icon,
        .carousel-control-prev-icon,
        .carousel-control-next .fa,
        .carousel-control-prev .fa,
        .carousel-control-next .oi,
        .carousel-control-prev .oi {
            display: none;
        }
        .carousel-control-next:after,
        .carousel-control-prev:after {
            display: inline-block;
            width: 48px;
            height: 48px;
            border-radius: 99px;
            content: "";
        }
    }
    .carousel-control-next:after {
        @include o-position-absolute($left: 0);
        background: o-color('o-color-1') url("/website_airproof/static/src/img/content/icons/arrow-right.svg") no-repeat center;
    }
    .carousel-control-prev:after {
        @include o-position-absolute($right: 0);
        background: o-color('o-color-1') url("/website_airproof/static/src/img/content/icons/arrow-left.svg") no-repeat center;
    }
    // Dynamic product carousel
    .s_dynamic_snippet_products .dynamic_snippet_template .carousel-item .row > div { padding-top: 0.60rem; }
    .s_dynamic_snippet_products {
        .carousel-control-next:after { left: 70px; }
        .carousel-control-prev:after { right: 70px; }
    }
    // Custom template for dynamic product carousel
    .s_product_product_airproof {
        .o_carousel_product_card {
            transition: all .2s ease-in-out;
            &:hover {
                border: none;
                background-color: #F0FDE3;
                transform: translate(-10px, -10px);
                .o_carousel_product_card_img_top { mix-blend-mode: multiply; }
            }
        }
        .o_carousel_product_card .card-body { background-color: transparent !important; }
        .carousel-control-prev:after { border-radius: 10px 0 0 10px !important; }
        .carousel-control-next:after {
            border-radius: 0 10px 10px 0 !important;
            left: -4rem !important;
        }
        .carousel-control-prev {
            left: auto !important;
            right: 0 !important;
        }
        .carousel-control-next,
        .carousel-control-prev {
            opacity: 1;
            &:after {
                width: 70px !important;
                top: -90px !important;
                background-color: white !important;
            }
        }
        .carousel-control-next:hover:after,
        .carousel-control-prev:hover:after {
            background-color: o-color('o-color-1') !important;
        }
    }
}