#wrapwrap {
    .s_airproof_carousel {
        .x_carousel_title {
            font-size : 6.25rem;
            @include media-breakpoint-down(sm) { font-size : 2.5rem; }
        }
        .x_sticker {
            @include o-position-absolute($top: 0, $right: 0);
            @include media-breakpoint-down(sm) {
                width: 200px;
                height: auto;
            }
        }
    // Bubble
        .x_bubble {
            bottom: 10%;
            right: 15%;
            @include media-breakpoint-down(lg) {
                > div { margin: 0 0.5rem; }
            }
        }
        // Shadow
        .x_bubble1 {
            border: 3px solid o-color('o-color-3');
            border-radius: 20px 20px 20px 0px;
            box-shadow: 0px 4px 60px o-color('o-color-3');
        }
        .x_bubble2 {
            border: 3px solid o-color('o-color-1');
            border-radius: 0px 20px 20px 20px;
            box-shadow: 0px 4px 60px o-color('o-color-1');
        }
    // Carousel indicators
        .carousel-indicators li {
            height: 1rem;
            width: 1rem;
            border: inherit;
            border-radius: 0;
            margin-bottom: 0;
            margin-left: 5px;
            background-color: o-color('o-color-3');
            box-shadow: none;
        }
    }
}