/* .auction-stage-selector {
    position: absolute;
    top: 10px;
    right: 20px;
    display: inline-block;
} */

/* .auction-stage-selector select {
    background-color: #ffcc00;
    text-align: center;
    color: black;
    font-weight: bold;
    border: 1px solid #ffcc00;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}


.auction-stage-selector select:focus {
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.8);
}

/* Styling for individual dropdown options */
/* .auction-stage-selector option[value="template"] {
    background-color: #f1f1f1;
    color: black;
}

.auction-stage-selector option[value="auction"] {
    background-color: #ffcc00;
    color: black;
    font-weight: bold;
}

.auction-stage-selector option[value="sold"] {
    background-color: #2ecc71;
    color: white;
    font-weight: bold;
}  */
