.o_color_bubble_2 {
    background-color: #28a745 !important;  /* green */
    color: white;
  }
  
  .o_color_bubble_10 {
    background-color: #ffc107 !important;  /* yellow */
    color: black;
  }
  
  .o_color_bubble_1 {
    background-color: #dc3545 !important;  /* red */
    color: white;
  }
  