.o_dashboard-item {
  background-color: #fff;
  border: 1px solid black;
  color: black;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .o_dashboard-item-title {
    font-weight: bold;
    text-align: center;
  }

  .o_dashboard-item-count {
    font-weight: bold;
    font-size: 30px;
    color: darkgreen;
  }
}