.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    margin: 0.5rem;
    height: fit-content;
}
