.o_dashboard_settings_item {
    display: flex;
    align-items: center;
}

.o_header_settings_p {
    margin: 0.5em;
    font-size: 1.5em;
}

.o_dashboard_settings_checkbox {
    width: 1.5em;
    height: 1.5em;
    margin: 1em;
}