.order-lines-table {
    width: 100%;
    border-collapse: collapse;
}

.order-lines-table thead {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


.col-no {
    width: 10%;
    text-align: center;
}

.col-product {
    width: 40%;
    text-align: left;
}

.col-qty {
    width: 15%;
    text-align: center;
}

.col-price {
    width: 15%;
    text-align: right;
}

.boxed-order-table {
    width: 100%;
    border-collapse: collapse;
}


.boxed-header {
    background-color: #ddd;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
}

.boxed-order-table th,
.boxed-order-table td {
    border: 2px solid black;
    padding: 6px;
    text-align: center;
}

.boxed-total-section {
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    font-weight: bold;
}
#boxed-summary-table {
    width: 100%;
    border-collapse: collapse;
}

#boxed-summary-table td {
    padding: 5px;
    border: 1px solid black;
}

.bordered-bottom {
    border-bottom: 1px solid black;
}

.payment-section {
    text-align: right;
}

.payment-name {
    float: left;
}

.payment-amount {
    float: right;
}
