#products_grid.o_wsale_layout_list {
  .o_ribbon_left, .o_ribbon_right {
    font-size: 0.8rem !important;
    padding: 0.05rem 100px !important;
  }

  .o_tag_left, .o_tag_right {
    font-size: 0.8rem !important;
    padding: 0.05rem 0.3rem !important;
  }
}

